@import url("https://fonts.googleapis.com/css?family=Istok+Web");
/* line 1, partials/_global.scss */
body {
  background-color: #eee;
  font-family: 'Istok Web', sans-serif;
  color: #333;
  font-size: 16px; }

/* line 7, partials/_global.scss */
a, a:hover, a:visited, a:focus {
  text-decoration: none;
  outline: none; }

/* line 11, partials/_global.scss */
a {
  color: #666; }
  /* line 13, partials/_global.scss */
  a:hover {
    color: #000; }

/* line 18, partials/_global.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

/* line 22, partials/_global.scss */
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

/* line 1, partials/_helper.scss */
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none; }

/* line 2, partials/_header.scss */
.main-header .top-bar {
  padding: 9px 0; }
  /* line 4, partials/_header.scss */
  .main-header .top-bar a {
    color: #333; }
    /* line 6, partials/_header.scss */
    .main-header .top-bar a:hover {
      color: #000; }
  /* line 10, partials/_header.scss */
  .main-header .top-bar .phone-info {
    float: left; }
  /* line 13, partials/_header.scss */
  .main-header .top-bar .login {
    float: right;
    text-transform: uppercase; }
/* line 18, partials/_header.scss */
.main-header .navbar {
  background-color: #fff;
  margin-bottom: 0;
  border: none; }
  /* line 22, partials/_header.scss */
  .main-header .navbar .navbar-toggle {
    float: left;
    padding: 0;
    border: none;
    margin: 0;
    margin-top: 17px;
    margin-right: 15px; }
    /* line 29, partials/_header.scss */
    .main-header .navbar .navbar-toggle .icon-bar {
      width: 20px;
      height: 4px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      background-color: #000; }
      /* line 34, partials/_header.scss */
      .main-header .navbar .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 2px; }
  /* line 39, partials/_header.scss */
  .main-header .navbar > .container {
    position: relative; }
/* line 43, partials/_header.scss */
.main-header .navbar-header {
  margin: 0; }
/* line 46, partials/_header.scss */
.main-header .logo {
  width: 58px;
  margin-top: 17px;
  margin-bottom: 0;
  float: left; }
/* line 52, partials/_header.scss */
.main-header .navbar-collapse {
  margin-top: 10px; }
/* line 55, partials/_header.scss */
.main-header .search-cart-holder {
  position: absolute;
  top: 10px;
  right: 23px; }
  /* line 59, partials/_header.scss */
  .main-header .search-cart-holder .search, .main-header .search-cart-holder .cart {
    display: inline-block; }
  /* line 62, partials/_header.scss */
  .main-header .search-cart-holder .search {
    position: relative;
    top: 4px;
    margin-right: 10px; }
    /* line 66, partials/_header.scss */
    .main-header .search-cart-holder .search .form-control {
      display: block;
      width: 140px;
      height: 24px;
      border: none;
      border-bottom: 1px solid #ccc;
      padding-right: 20px;
      padding-left: 4px;
      padding-top: 3px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      box-shadow: none; }
      /* line 77, partials/_header.scss */
      .main-header .search-cart-holder .search .form-control:focus {
        outline: none;
        border-bottom: 1px solid #000; }
    /* line 82, partials/_header.scss */
    .main-header .search-cart-holder .search .btn {
      position: absolute;
      top: 2px;
      right: 2px;
      background-image: url("../img/search-icon.png");
      background-repeat: no-repeat;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      background-color: transparent;
      border: none; }
      /* line 94, partials/_header.scss */
      .main-header .search-cart-holder .search .btn:focus {
        outline: none; }
      /* line 97, partials/_header.scss */
      .main-header .search-cart-holder .search .btn:active {
        box-shadow: none; }
  /* line 102, partials/_header.scss */
  .main-header .search-cart-holder .cart {
    position: relative; }
    /* line 104, partials/_header.scss */
    .main-header .search-cart-holder .cart .badge {
      position: absolute;
      padding: 4px 6px 3px;
      bottom: -8px;
      right: -8px;
      background-color: #cc0000; }

/* line 114, partials/_header.scss */
.nav {
  padding-bottom: 5px; }
  /* line 117, partials/_header.scss */
  .nav li a {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    display: table;
    margin: auto;
    border-bottom: 2px solid transparent; }
    /* line 126, partials/_header.scss */
    .nav li a:hover, .nav li a:focus {
      background-color: transparent;
      border-bottom: 2px solid #acdacf; }
  /* line 134, partials/_header.scss */
  .nav .active a {
    border-bottom: 2px solid #acdacf; }

@media (min-width: 768px) {
  /* line 141, partials/_header.scss */
  .main-header .logo {
    width: 80px;
    margin-top: 10px; }
  /* line 145, partials/_header.scss */
  .main-header .nav {
    padding-bottom: 0; }
    /* line 148, partials/_header.scss */
    .main-header .nav li:not(:last-child) {
      margin-right: 30px; }
  /* line 153, partials/_header.scss */
  .main-header .navbar {
    padding-top: 45px;
    padding-bottom: 45px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    /* line 157, partials/_header.scss */
    .main-header .navbar .search-cart-holder {
      top: -35px; }
  /* line 161, partials/_header.scss */
  .main-header .navbar-collapse {
    margin-top: 0; } }
@media (min-width: 992px) {
  /* line 170, partials/_header.scss */
  .main-header .nav li:last-child {
    margin-right: 30px; }
  /* line 176, partials/_header.scss */
  .main-header .navbar .navbar-nav {
    padding-right: 190px; }
  /* line 179, partials/_header.scss */
  .main-header .navbar .search-cart-holder {
    top: 10px; } }
@media (min-width: 1200px) {
  /* line 187, partials/_header.scss */
  .main-header .logo {
    width: 104px; } }
/* line 1, partials/_intro-header.scss */
.intro-header {
  position: relative;
  margin-bottom: 45px; }
  /* line 4, partials/_intro-header.scss */
  .intro-header h2 {
    color: white;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase; }
    /* line 13, partials/_intro-header.scss */
    .intro-header h2:before, .intro-header h2:after {
      display: none; }
    /* line 16, partials/_intro-header.scss */
    .intro-header h2 span {
      font-size: 70px;
      color: #FFCE67;
      display: block; }
  /* line 22, partials/_intro-header.scss */
  .intro-header #intro-slider {
    display: none; }

@media (min-width: 768px) {
  /* line 28, partials/_intro-header.scss */
  .intro-header > img {
    display: none; }
  /* line 31, partials/_intro-header.scss */
  .intro-header #intro-slider {
    display: block; }
  /* line 34, partials/_intro-header.scss */
  .intro-header h2 {
    padding: 30px 0;
    width: 620px;
    background-color: rgba(0, 0, 0, 0.3); }
    /* line 38, partials/_intro-header.scss */
    .intro-header h2:after, .intro-header h2:before {
      display: block; } }
@media (min-width: 992px) {
  /* line 45, partials/_intro-header.scss */
  .intro-header {
    margin-bottom: 70px; }

  /* line 48, partials/_intro-header.scss */
  .carousel-indicators {
    bottom: 30px; } }
@media (min-width: 1200px) {
  /* line 54, partials/_intro-header.scss */
  .intro-header h2 {
    font-size: 30px; }
    /* line 56, partials/_intro-header.scss */
    .intro-header h2 span {
      font-size: 96px; }
    /* line 59, partials/_intro-header.scss */
    .intro-header h2:before, .intro-header h2:after {
      width: 130px;
      height: 60px;
      border-width: 3px; } }
/* line 3, partials/_color-picks.scss */
.color-picker .purple {
  background-color: #7C81EA; }
/* line 6, partials/_color-picks.scss */
.color-picker .green {
  background-color: #5EB09B; }
/* line 9, partials/_color-picks.scss */
.color-picker .dark-gray {
  background-color: #333; }
/* line 12, partials/_color-picks.scss */
.color-picker .red {
  background-color: #CC0000; }
/* line 15, partials/_color-picks.scss */
.color-picker .yellow {
  background-color: #FFCE67; }
/* line 18, partials/_color-picks.scss */
.color-picker .blue {
  background-color: #389EC5; }
/* line 21, partials/_color-picks.scss */
.color-picker .orange {
  background-color: #f90; }
/* line 24, partials/_color-picks.scss */
.color-picker .light-blue {
  background-color: #85C3DC; }
/* line 27, partials/_color-picks.scss */
.color-picker .black {
  background-color: black; }
/* line 30, partials/_color-picks.scss */
.color-picker .beige {
  background-color: beige; }
/* line 33, partials/_color-picks.scss */
.color-picker .aqua {
  background-color: #acdacf; }

/* line 2, partials/_products-section.scss */
.products-section .products-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000; }
  /* line 8, partials/_products-section.scss */
  .products-section .products-title::after {
    content: " ";
    width: 96px;
    height: 5px;
    display: block;
    background-image: url("../img/decoration-line.png");
    margin: 0 auto;
    margin-top: 25px; }
/* line 18, partials/_products-section.scss */
.products-section p {
  text-align: center;
  color: #999;
  margin-bottom: 25px; }
/* line 24, partials/_products-section.scss */
.products-section .collections-holder a {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px; }
  /* line 30, partials/_products-section.scss */
  .products-section .collections-holder a img {
    opacity: .8; }
  /* line 33, partials/_products-section.scss */
  .products-section .collections-holder a span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center; }
/* line 42, partials/_products-section.scss */
.products-section .products-categories {
  text-align: center;
  margin-bottom: 30px; }
  /* line 45, partials/_products-section.scss */
  .products-section .products-categories li {
    display: inline-block;
    margin-right: 10px; }
    /* line 48, partials/_products-section.scss */
    .products-section .products-categories li:last-child {
      margin-right: 0; }
    /* line 51, partials/_products-section.scss */
    .products-section .products-categories li a {
      font-size: 14px;
      display: block;
      text-transform: uppercase;
      padding-top: 10px;
      border-top: 2px solid transparent; }
      /* line 57, partials/_products-section.scss */
      .products-section .products-categories li a:hover {
        border-top: 2px solid #acdacf; }
      /* line 60, partials/_products-section.scss */
      .products-section .products-categories li a.active {
        border-top: 2px solid #acdacf;
        color: #000; }
/* line 67, partials/_products-section.scss */
.products-section .product {
  margin-bottom: 35px; }
  /* line 69, partials/_products-section.scss */
  .products-section .product .product-img-holder {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden; }
    /* line 73, partials/_products-section.scss */
    .products-section .product .product-img-holder > a {
      display: block;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s; }
    /* line 79, partials/_products-section.scss */
    .products-section .product .product-img-holder .hover-list {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(133, 195, 220, 0.95);
      text-align: center;
      padding: 19px 0; }
      /* line 87, partials/_products-section.scss */
      .products-section .product .product-img-holder .hover-list li {
        display: inline-block;
        margin: 0 6%; }
  /* line 93, partials/_products-section.scss */
  .products-section .product .product-title {
    margin-bottom: 15px;
    padding: 0 15px; }
    /* line 96, partials/_products-section.scss */
    .products-section .product .product-title h3 {
      font-size: 16px;
      float: left;
      margin-bottom: 0; }
      /* line 100, partials/_products-section.scss */
      .products-section .product .product-title h3 span {
        display: block; }
    /* line 104, partials/_products-section.scss */
    .products-section .product .product-title > span {
      float: right;
      color: #000;
      text-transform: uppercase; }
  /* line 110, partials/_products-section.scss */
  .products-section .product .color-picker {
    padding: 0 15px; }
    /* line 112, partials/_products-section.scss */
    .products-section .product .color-picker li {
      float: left;
      margin-right: 5px; }
      /* line 115, partials/_products-section.scss */
      .products-section .product .color-picker li a {
        display: block;
        width: 16px;
        height: 16px;
        text-indent: -9999px; }
  /* line 125, partials/_products-section.scss */
  .products-section .product:hover .product-img-holder > a {
    opacity: .6; }

/* line 132, partials/_products-section.scss */
.frame {
  position: relative; }
  /* line 134, partials/_products-section.scss */
  .frame:before, .frame:after {
    content: " ";
    position: absolute;
    width: 90px;
    height: 40px;
    display: block;
    border: 2px solid #fff;
    z-index: 5; }
  /* line 143, partials/_products-section.scss */
  .frame:before {
    border-bottom: none;
    border-right: none;
    top: 10px;
    left: 10px; }
  /* line 149, partials/_products-section.scss */
  .frame:after {
    border-top: none;
    border-left: none;
    right: 10px;
    bottom: 10px; }

@media (max-width: 400px) {
  /* line 157, partials/_products-section.scss */
  .article-clear {
    width: 100%; } }
@media (min-width: 400px) {
  /* line 164, partials/_products-section.scss */
  .products-section .collections-holder a {
    font-size: 26px; }
  /* line 169, partials/_products-section.scss */
  .products-section .products-categories li {
    margin-right: 30px; }
    /* line 171, partials/_products-section.scss */
    .products-section .products-categories li a {
      font-size: 16px; }

  /* line 177, partials/_products-section.scss */
  .article-clear:nth-of-type(2n+3) {
    clear: both; } }
@media (min-width: 992px) {
  /* line 183, partials/_products-section.scss */
  .products-section p {
    margin-bottom: 70px; }
  /* line 187, partials/_products-section.scss */
  .products-section .collections-holder a {
    margin-bottom: 55px; }
    /* line 189, partials/_products-section.scss */
    .products-section .collections-holder a .span {
      width: 100%; }
    /* line 192, partials/_products-section.scss */
    .products-section .collections-holder a:after, .products-section .collections-holder a:before {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    /* line 198, partials/_products-section.scss */
    .products-section .collections-holder a:hover:after, .products-section .collections-holder a:hover:before {
      width: 110px;
      height: 60px; }
    /* line 202, partials/_products-section.scss */
    .products-section .collections-holder a:hover:before {
      left: 45px;
      top: 30px; }
    /* line 206, partials/_products-section.scss */
    .products-section .collections-holder a:hover:after {
      right: 45px;
      bottom: 30px; }
  /* line 213, partials/_products-section.scss */
  .products-section .products-categories {
    margin-bottom: 40px; }
  /* line 218, partials/_products-section.scss */
  .products-section .product .product-img-holder .hover-list {
    bottom: -61px;
    transition: all .3s; }
  /* line 224, partials/_products-section.scss */
  .products-section .product:hover .hover-list {
    bottom: 0; }

  /* line 230, partials/_products-section.scss */
  .article-clear:nth-of-type(2n+3) {
    clear: none; }

  /* line 233, partials/_products-section.scss */
  .article-clear:nth-of-type(3n+4) {
    clear: both; } }
@media (min-width: 1200px) {
  /* line 238, partials/_products-section.scss */
  .products-holder {
    margin-bottom: 50px; }

  /* line 242, partials/_products-section.scss */
  .products-holder .product {
    margin-bottom: 50px; }

  /* line 246, partials/_products-section.scss */
  .article-clear:nth-of-type(3n+4) {
    clear: none; }

  /* line 249, partials/_products-section.scss */
  .article-clear:nth-of-type(4n+5) {
    clear: both; } }
/* line 1, partials/_footer.scss */
.main-footer {
  color: #fff; }
  /* line 4, partials/_footer.scss */
  .main-footer a {
    color: white; }
    /* line 7, partials/_footer.scss */
    .main-footer a:hover {
      text-decoration: underline; }
  /* line 12, partials/_footer.scss */
  .main-footer .footer-top {
    position: relative;
    padding: 50px 0;
    background-color: #85C3DC; }
    /* line 17, partials/_footer.scss */
    .main-footer .footer-top .info {
      color: #598191;
      margin-bottom: 20px; }
    /* line 22, partials/_footer.scss */
    .main-footer .footer-top h3 {
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    /* line 28, partials/_footer.scss */
    .main-footer .footer-top p {
      font-size: 14px; }
      /* line 31, partials/_footer.scss */
      .main-footer .footer-top p a {
        display: inline-block;
        margin-bottom: 10px; }
    /* line 37, partials/_footer.scss */
    .main-footer .footer-top h4 {
      margin-top: 20px;
      margin-bottom: 20px;
      text-transform: uppercase; }
    /* line 43, partials/_footer.scss */
    .main-footer .footer-top li {
      margin-bottom: 10px; }
    /* line 48, partials/_footer.scss */
    .main-footer .footer-top .tags li {
      float: left; }
      /* line 51, partials/_footer.scss */
      .main-footer .footer-top .tags li:not(:last-child) {
        margin-right: 10px; }
      /* line 55, partials/_footer.scss */
      .main-footer .footer-top .tags li a {
        display: inline-block;
        padding: 6px 10px;
        background-color: #95D9F6; }
        /* line 60, partials/_footer.scss */
        .main-footer .footer-top .tags li a:hover {
          text-decoration: none;
          color: #598191; }
  /* line 69, partials/_footer.scss */
  .main-footer .footer-bottom {
    padding: 15px 0; }
    /* line 72, partials/_footer.scss */
    .main-footer .footer-bottom .soc-net {
      text-align: center; }
      /* line 75, partials/_footer.scss */
      .main-footer .footer-bottom .soc-net li {
        display: inline-block; }
        /* line 78, partials/_footer.scss */
        .main-footer .footer-bottom .soc-net li:not(:last-child) {
          margin-right: 5px; }
        /* line 82, partials/_footer.scss */
        .main-footer .footer-bottom .soc-net li a {
          display: block;
          width: 40px;
          height: 40px;
          background-size: cover;
          text-indent: -9999px; }
          /* line 89, partials/_footer.scss */
          .main-footer .footer-bottom .soc-net li a.gh {
            background-image: url("../../img/github.png"); }
          /* line 93, partials/_footer.scss */
          .main-footer .footer-bottom .soc-net li a.fb {
            background-image: url("../../img/facebook.png"); }
          /* line 97, partials/_footer.scss */
          .main-footer .footer-bottom .soc-net li a.tw {
            background-image: url("../../img/twitter.png"); }
          /* line 101, partials/_footer.scss */
          .main-footer .footer-bottom .soc-net li a.in {
            background-image: url("../../img/instagram.png"); }
          /* line 105, partials/_footer.scss */
          .main-footer .footer-bottom .soc-net li a.yt {
            background-image: url("../../img/youtube.png"); }
          /* line 109, partials/_footer.scss */
          .main-footer .footer-bottom .soc-net li a:hover {
            opacity: 0.8; }
    /* line 116, partials/_footer.scss */
    .main-footer .footer-bottom .footer-nav {
      float: right;
      padding-bottom: 0; }
      /* line 120, partials/_footer.scss */
      .main-footer .footer-bottom .footer-nav li {
        float: left; }
        /* line 123, partials/_footer.scss */
        .main-footer .footer-bottom .footer-nav li:not(:last-child) {
          margin-right: 20px; }
        /* line 127, partials/_footer.scss */
        .main-footer .footer-bottom .footer-nav li a {
          padding: 0 0 3px;
          font-size: 12px;
          color: #666; }
  /* line 136, partials/_footer.scss */
  .main-footer .back-to-top {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-image: url("../img/back-to-top-white.png");
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    transition: all 0.3s;
    display: none; }
    /* line 151, partials/_footer.scss */
    .main-footer .back-to-top:hover {
      background-image: url("../img/back-to-top-blue.png");
      background-color: #fff; }

@media (min-width: 768px) {
  /* line 160, partials/_footer.scss */
  .main-footer .back-to-top {
    display: block; }
  /* line 165, partials/_footer.scss */
  .main-footer .footer-bottom .soc-net {
    float: left; }
    /* line 169, partials/_footer.scss */
    .main-footer .footer-bottom .soc-net li a {
      width: 20px;
      height: 20px; } }
@media (min-width: 992px) {
  /* line 184, partials/_footer.scss */
  .main-footer .footer-top .tags li a {
    padding: 9px 13px; }
  /* line 191, partials/_footer.scss */
  .main-footer .footer-bottom {
    padding: 25px 0; } }
@media (min-width: 1200px) {
  /* line 200, partials/_footer.scss */
  .main-footer .footer-top h4 {
    margin-top: 40px; }
  /* line 205, partials/_footer.scss */
  .main-footer .footer-bottom {
    padding: 35px 0; } }
@media (min-width: 1400px) {
  /* line 213, partials/_footer.scss */
  .main-footer .back-to-top {
    border-color: #85C3DC;
    bottom: -65px;
    background-image: url("../img/back-to-top-blue.png"); }
    /* line 218, partials/_footer.scss */
    .main-footer .back-to-top:hover {
      background-color: #85C3DC;
      background-image: url("../img/back-to-top-white.png"); } }
/* line 2, partials/_slider.scss */
#intro-slider .carousel-control {
  background-image: none;
  opacity: 1; }
/* line 7, partials/_slider.scss */
#intro-slider .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 0; }
/* line 13, partials/_slider.scss */
#intro-slider .arrow-left, #intro-slider .arrow-right {
  width: 26px;
  height: 48px;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%); }
/* line 23, partials/_slider.scss */
#intro-slider .arrow-left {
  left: 20%;
  background-image: url("../img/arrow-left.png"); }
/* line 27, partials/_slider.scss */
#intro-slider .arrow-right {
  right: 20%;
  background-image: url("../img/arrow-right.png"); }

@media (min-width: 1920px) {
  /* line 259, partials/_responsive.scss */
  #intro-slider img {
    max-width: none;
    width: 100%; } }
/* line 1, partials/_detailed.scss */
.back {
  display: block;
  padding-left: 15px;
  background-image: url("../img/arrow-gray.png");
  background-repeat: no-repeat;
  background-position: 0 2px;
  margin: 30px 0; }

/* line 9, partials/_detailed.scss */
.product-detailes {
  margin-bottom: 70px; }
  /* line 11, partials/_detailed.scss */
  .product-detailes .white-bkg {
    background-color: #fff;
    margin-bottom: 40px; }
  /* line 15, partials/_detailed.scss */
  .product-detailes .gallery-mini {
    display: flex;
    justify-content: space-between;
    display: none; }
  /* line 20, partials/_detailed.scss */
  .product-detailes h2 {
    font-size: 24px;
    color: #000;
    margin-bottom: 15px; }
  /* line 25, partials/_detailed.scss */
  .product-detailes p {
    color: #666;
    margin-bottom: 40px; }
  /* line 30, partials/_detailed.scss */
  .product-detailes .order-holder .terms-holder {
    margin-bottom: 15px;
    line-height: 22px; }
    /* line 33, partials/_detailed.scss */
    .product-detailes .order-holder .terms-holder .term {
      display: inline-block;
      min-width: 80px; }
    /* line 37, partials/_detailed.scss */
    .product-detailes .order-holder .terms-holder .price {
      font-size: 24px;
      color: #000;
      float: right;
      text-transform: uppercase; }
    /* line 43, partials/_detailed.scss */
    .product-detailes .order-holder .terms-holder .delivery {
      float: right;
      color: #000; }
    /* line 47, partials/_detailed.scss */
    .product-detailes .order-holder .terms-holder .quantity {
      float: right; }
      /* line 49, partials/_detailed.scss */
      .product-detailes .order-holder .terms-holder .quantity input {
        display: block;
        width: 30px;
        padding: 0 5px;
        line-height: 23px;
        text-align: center;
        padding-top: 3px;
        background-color: transparent;
        border: 1px solid #ccc; }
        /* line 58, partials/_detailed.scss */
        .product-detailes .order-holder .terms-holder .quantity input:focus {
          outline: none; }
    /* line 63, partials/_detailed.scss */
    .product-detailes .order-holder .terms-holder .color-picker {
      display: inline-block;
      float: right; }
      /* line 66, partials/_detailed.scss */
      .product-detailes .order-holder .terms-holder .color-picker li {
        float: left;
        margin-right: 5px; }
        /* line 69, partials/_detailed.scss */
        .product-detailes .order-holder .terms-holder .color-picker li:last-child {
          margin-right: 0; }
        /* line 72, partials/_detailed.scss */
        .product-detailes .order-holder .terms-holder .color-picker li a {
          display: block;
          width: 16px;
          height: 16px;
          text-indent: -9999px; }
  /* line 81, partials/_detailed.scss */
  .product-detailes .order-holder .add-to-cart {
    display: block;
    background-color: #5EB09B;
    color: #fff;
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
    transition: all .3s; }
    /* line 89, partials/_detailed.scss */
    .product-detailes .order-holder .add-to-cart:hover {
      background-color: #448B79; }

/* line 96, partials/_detailed.scss */
.products-section .top-picked {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 5px;
  border-top: 2px solid transparent;
  margin-bottom: 20px; }
  /* line 103, partials/_detailed.scss */
  .products-section .top-picked:hover {
    border-top: 2px solid #acdacf; }
  /* line 106, partials/_detailed.scss */
  .products-section .top-picked.active {
    border-top: 2px solid #acdacf;
    color: #000; }
/* line 111, partials/_detailed.scss */
.products-section .product {
  margin-bottom: 30px; }
  /* line 113, partials/_detailed.scss */
  .products-section .product .product-title {
    margin-bottom: 0; }

@media (min-width: 768px) {
  /* line 120, partials/_detailed.scss */
  .product-detailes .white-bkg {
    margin-bottom: 20px; }
    /* line 122, partials/_detailed.scss */
    .product-detailes .white-bkg a {
      display: block;
      transition: all .3s; }
      /* line 125, partials/_detailed.scss */
      .product-detailes .white-bkg a:hover {
        opacity: .6; }
  /* line 130, partials/_detailed.scss */
  .product-detailes .gallery-mini {
    display: flex; }
    /* line 132, partials/_detailed.scss */
    .product-detailes .gallery-mini a {
      display: block;
      transition: all .3s; }
      /* line 135, partials/_detailed.scss */
      .product-detailes .gallery-mini a:hover {
        opacity: .6; }
      /* line 138, partials/_detailed.scss */
      .product-detailes .gallery-mini a img {
        width: 44px; }
  /* line 145, partials/_detailed.scss */
  .product-detailes .order-holder .terms-holder .term {
    margin-right: 20px; }
  /* line 148, partials/_detailed.scss */
  .product-detailes .order-holder .terms-holder .price {
    float: none; }
  /* line 151, partials/_detailed.scss */
  .product-detailes .order-holder .terms-holder .delivery {
    float: none; }
  /* line 154, partials/_detailed.scss */
  .product-detailes .order-holder .terms-holder .quantity {
    float: none;
    display: inline-block; }
  /* line 158, partials/_detailed.scss */
  .product-detailes .order-holder .terms-holder .color-picker {
    float: none; }
  /* line 162, partials/_detailed.scss */
  .product-detailes .order-holder .add-to-cart {
    width: 165px; } }
@media (min-width: 992px) {
  /* line 172, partials/_detailed.scss */
  .product-detailes .gallery-mini a img {
    width: 63px; } }
@media (min-width: 1200px) {
  /* line 183, partials/_detailed.scss */
  .product-detailes .gallery-mini a img {
    width: 80px; } }

/*# sourceMappingURL=main.css.map */
